{% extends '_layout' %}

{% block content %}
    
    <div class="hero hero-bluebg pt-32 md:pt-40 pb-32 md:pb-48">
        <div class="center-content">
            <div class="max-w-xl m-auto text-white text-center px-4">
                <h2 class="text-4xl sm:text-5xl md:text-5xl leading-tight mb-6 md:mb-10 font-heading">Some Content</h2>
            </div>
        </div>
    </div>
    {% cache %}
        {% for block in entry.testMatrix %}
            {% if block.type == "textcontent" %}
            
                <div class="bg-blue-light py-12 md:py-16 text-blue-dark">
                    <div class="center-content center-content-slim">
                        <p class="mb-4">
                            {{ block.someText }}
                        </p>
                        <p class="mb-4">
                            {{ block.someText|striptags('<p>') }}
                        </p>
                        {% if block.anAsset %}
                        <img width="200" src="{{ block.anAsset.one().url()}}">
                        {% endif %}
                        
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    {% endcache %}
{% endblock %}
